@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Jockey+One);
@import url(http://fonts.googleapis.com/css?family=Six+Caps);

  /* CSS Styles */

  html{
    padding:0px;
    background-color:#001113;
  }
  body{
    padding:0px;
    margin:0px;
    font-family: 'Quicksand', sans-serif;
  }
  .row{
    background-color:white;
    width:100vw;
    height:100vh;
    padding:0px;
    margin:0px
    display: inline-block;
    z-index:-213213;
  }
  .section{
    padding:0px;
    position:relative;
    height:100vh;
    z-index:0;
  }
  #logo{
    float:left;
    font-family: 'Six Caps', sans-serif;
    font-size:15.0em;
    color:white;
    transform:translate(2vw,-5vh);
  }
  #sub{
    float:right;
    margin:0px;
    font-family: 'Six Caps', sans-serif;
    font-size:5.0em;
    color:#F39C12;
    transform:translate(-3vw,70vh);
  }
  #r0{
    background-image: url("../img/header-bg.jpg");
    background-size: cover;

  }
  #r1{

  }
  #r2{

  }
  #r3{

  }
  /*min-width*/
  #summary{
    float:left;
    width:100vw;
    margin:auto;
  }
  #team{
    float:left;
    width:50vw;
    background-color:white;
  }
  #blog{
    float:right;
    width:50vw;
    background: white;
  }
  #staff{
    float:left;
    width:50vw;
  }
  #sponsors{
    float:right;
    width:50vw;
    background-color:white;
  }
  #text{
    float:left;
    background: rgba(36, 30, 30, 1.0);
  }
  #image{
    float:right;
    background-color:green;
    background-image: url("../img/staff.jpg");
    background-size: cover;
    background-position: center top;
  }
  #footer{
    position:relative;
    float:right;
    height:100px;
    width:45vw;
    z-index:0;
    color:#E67E22;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
  }


  .title{
    position:relative;
    padding:20px;
    text-align:right;
    transform:translate(-2.5vw, -2vh);
    width:100px;
    z-index:35;
    background-color:red;
  }
  .content{
    position:relative;
    height:70vh;
    width:50vw;
    margin: 5vw;
    z-index:32;
    background-color:orange;
    margin-top:0px;
    transform:translateY(9vh);
  }

  #teams{
    background-color:#EAADAD;
  }
  #work{
    transform:translate(-2.5vw, -10vh);
  }
  #write{
    transform:translate(-2.0vw, 0vh);
    background:#B3CBCB;
  }
  #companies{
    transform:translate(-2.0vw, -5vh);
    background:#9F9292;
    visited:white;
  }
  #staffers{
    transform:translate(-2.5vw, 0vh);
    background:#BCC1C1;
  }
  #text_content{
    padding:10px;
    padding-left:15px;
    margin-top:-5px;
    width:50px;
    color:white;
    background: rgba(36, 30, 30, .95);
    z-index:213;
  }
  .indent{
    background-color: #D36E6E;
    box-sizing: border-box;
    color: #FFF;
    font-family: "National Light";
    font-size: 21px;
    height: 2px;
    letter-spacing: 0.9px;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: #FFF;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    top: 115px;
    left: 15px;
    width: 36px;
  }
  #text h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    margin-bottom:-15px;
  }

  #text h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color:#A3978E;
  }
  #text p{
    font-family: 'Quicksand', sans-serif;
    margin-left:50px;
    margin-right:10px;
    font-weight: light;
    margin-left:10vh;
    text-align:left;
  }
  .sponsors {
    position:relative;
    display:block;
    margin:auto;
    vertical-align: middle;
    background-size: cover;
  }
  #google{
    width:54;
    height:20.6%;
    background-image: url('../img/sponsors/google.png');
  }
  #google:hover{
    width:35vw;
    height:12vw;
    background-image: url('../img/sponsors/google_color.png');
  }
  #red{
    transform:translate(-2.0vw, 0vh);
    width:20vw;
    height:20vw;
    background-image: url('../img/sponsors/3red.png');
  }
  #red:hover{
    transform:translate(-2.0vw, 0vh);
    width:20vw;
    height:20vw;
    background-image: url('../img/sponsors/3red_color.png');
  }
  #help{
    heigth:50vh;
    width:40vw;

    background:#8C7A7A;
  }
  #help:hover{
    heigth:15vh;
    width:40vw;
    background:#8C7A7A;
  }
  html body {
    padding:0px;
    margin:0px;
    font-family: 'Quicksand', sans-serif;
  }

  #bg{
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-color:white;
    width:100vw;
    height:50vh;
    padding:0px;
    font-family: 'Six Caps', sans-serif;
    margin:0px;
    color:white;
    display: inline-block;
    z-index:-213213;
  }

  #bg h1{
    font-size:7.0em;
  }

  #bg h2{
    font-size:3.0em;
    transform:translate(-7vw,0vh);
  }

  #bg h3{
    font-size:3.0em;
    transform:translate(2.5vw,0vh);
  }
  .img-center {
    margin: 0 auto;
  }

  footer {
    margin: 50px 0;
  }
  .person{
    padding:1px;
  }
  .overlord{
    color:white;
    background-color:#3498DB;
    transform:translate(0%,2px);
    font-family: 'Quicksand', sans-serif;
    height:350px;
  }
  .overlordTitle{
    color:white;
    background-color:#246996;
    font-size:1em;
    position:relative;
    padding:20px;
    text-align:right;
    transform:translate(-7.9%,0);
    width:200px;
    z-index:35;

  }
  .A{
    background-color:#7BC99C;
    color:white;
    font-family: 'Quicksand', sans-serif;
    height:350px;
  }
  .Atitle{
    background-color:#68AB84;
    font-size:1em;
    position:relative;
    padding:20px;
    text-align:right;
    transform:translate(-8.5%,0);
    width:175px;
    z-index:35;

  }
  .Atitle small{
    font-weight:light;
  }
  .B{
    background-color:#34495E;
    color:white;
    font-family: 'Quicksand', sans-serif;
    height:350px;
  }
  .Btitle{
    background-color:#25425E;
    font-size:1em;
    position:relative;
    padding:20px;
    text-align:right;
    transform:translate(-8.5%, 0);
    width:175px;
    z-index:35;

  }
  .Btitle small{
    font-weight:light;
  }
  .C{
    background-color:#F39C12;
    color:white;
    font-family: 'Quicksand', sans-serif;
    height:350px;
  }
  .Ctitle{
    background-color:#DB8D0F;
    font-size:1em;
    position:relative;
    padding:20px;
    text-align:right;
    transform:translate(-8.5%, 0);
    width:175px;
    z-index:35;

  }
  .Ctitle small{
    font-weight:light;
  }
  .D{
    background-color:#EA4F4F;
    color:white;
    font-family: 'Quicksand', sans-serif;
    height:350px;
  }
  .img-circle{
    transform:translate(-30px, 10px);
  }
  .Dtitle{
    background-color:#B83E3E;
    font-size:1em;
    position:relative;
    padding:20px;
    text-align:right;
    transform:translate(-8.5%, 0);
    width:175px;
    z-index:35;


  }
  .Dtitle small{
    font-weight:light;
  }
  .E{
    background-color:#2F3636;
    color:white;
    font-family: 'Quicksand', sans-serif;
    height:350px;
  }
  .Etitle{
    background-color:#404A4A;
    font-size:1em;
    position:relative;
    padding:20px;
    text-align:right;
    transform:translate(-8.5%, 0);
    width:175px;
    z-index:35;

  }
  .Etitle small{
    font-weight:light;
  }
  .roleE{
    postion:relative:
    z-index:12323;
    width:53px;
    font-size:2em;
    margin:0px;
    transform:translate( -20px, -20px);
    float:left;
    border-right-color: #ff0000;
    text-align:center;
    background-color:#246996;
    height:60px;
    line-height: 60px;
  }
  .roleMT{
    postion:relative:
    z-index:12323;
    width:53px;
    font-size:2em;
    margin:0px;
    transform:translate( -20px, -20px);
    float:left;
    border-right-color: #ff0000;
    text-align:center;
    background-color:#F1C40F;
    height:60px;
    line-height: 60px;
  }
  .roleC{
    postion:relative:
    z-index:12323;
    width:53px;
    font-size:2em;
    margin:0px;
    transform:translate( -20px, -20px);
    float:left;
    border-right-color: #ff0000;
    text-align:center;
    background-color:#5E6C6C;
    height:60px;
    line-height: 60px;
  }
  .roleT{
    postion:relative:
    z-index:12323;
    width:53px;
    font-size:2em;
    margin:0px;
    transform:translate( -20px, -20px);
    float:left;
    border-right-color: #ff0000;
    text-align:center;
    background-color:#D64838;
    height:60px;
    line-height: 60px;
  }
  .roleM{
    postion:relative:
    z-index:12323;
    width:53px;
    font-size:2em;
    margin:0px;
    transform:translate( -20px, -20px);
    float:left;
    border-right-color: #ff0000;
    text-align:center;
    background-color:#1ABC9C;
    height:60px;
    line-height: 60px;
  }
